

body {
    font-family:　"Avenir Next";
  }
  
  li {
    list-style: none;
    text-decoration:none
  }
  
  a {
    text-decoration: none;
    color:#000000
  }
  
  .header {
   background: linear-gradient(45deg, #D985A8, #C3ADD2, #AFB4CE, #BAE5EE, #BAEEC1);
   background-size: 1000% 1000%;
   animation: GradientBackground 10s ease infinite;
    height: 90px;
  }
  
          
  
  @keyframes GradientBackground {
            0% {
              background-position: 0% 50%;
            }
  
            50% {
              background-position: 100% 50%;
            }
  
            100% {
              background-position: 0% 50%;
            }
   }
        
  
  
  
  .header-list ul {
    display: flex;
    justify-content: flex-end;
     font-family: 'Nunito', sans-serif;
    font-weight: 550;
  }
  .header-list li {
    padding: 33px 20px;
    
  }
  
  .main {
      /* 下の2行を追加 */
      background-image: url("https://cdn.glitch.global/35ad1f6d-d665-424f-bd3d-c29e8269616c/%E5%90%8D%E7%A7%B0%E6%9C%AA%E8%A8%AD%E5%AE%9A-1_%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9C%E3%83%BC%E3%83%89%201.png?v=1650026906953");
      background-size: cover; /* エリア全体を覆うように指定 */
  
  
      /* 代わりに、background-colorの1行を削除 */
  
      /* heightの指定はそのまま残す */
    height: 700px;
    text-align: center;
    padding-bottom:20px;
  }
  
  .copy-container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center;
    padding-top: 350px;
    
    
  }
  
  
  .copy-container h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 200px;
  }
  
  
  .spikes {
    position: relative;
    background:  #e6e6fa;
    height: 50vh;
  }
  
  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 25px;
    background-size: 25px 100%;
    background-image: linear-gradient(135deg,  #e6e6fa 25%, transparent 25%), linear-gradient(225deg,  #e6e6fa 25%, transparent 25%);
    background-position: 0 0;
  }
  .services{
   background-color: #e6e6fa; 
  
  }
  
  .service-item{
    background-color: #e6e6fa;
      height: 300px;
     display:  inline-block;
     
  }
  .service-item p{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-weight:20px;
      font-size:20px;
    
  }
  .service-item img{
    height:130px;
    padding:50px
  }
  .contents{
    margin-top:70px;
  }
  .contents-item{
    height: 400px;
    margin-top: 20px;
    display: inline-flex;
  }
  .contents-item img{
     display: inline-flex; /* ここがポイント */
      height: 300px;
      margin-right: 15px;
      margin-bottom: 15px;
  }
  .section-title h3{
    border-bottom: 2px solid #dee7ec;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    font-family: 'Caveat', cursive;
  }
  
  
  .about{
      width: 500px;
    padding-top: 10px
  }
  .section-next-title{
     font-family: 'Pacifico', cursive;
     border-bottom: 2px solid #dee7ec;
  }
  .about-contents img{
    display: inline-block;
    height:400px
  }
  .about-contents p{
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    width: 500px;
    margin-left: 20px;
    vertical-align: top;
  }
  
  .title{
    background-color: #e6e6fa;
  }
  .title h1{
    font-family: 'Pacifico', cursive;
    background-color: #e6e6fa; 
  }
  .form-field {
        position: relative;
        margin: 32px 0;
     }
     .input-text {
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: #000000;
        font-family: Lusitana, serif;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        
        &:focus {
           outline: none;
        }
        
        &:focus,
        &.not-empty {
           + .label {
              transform: translateY(-24px);
           }
        }
     }
     .label {
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-family: Lusitana, serif;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #888888;
        cursor: text;
        transition: transform .2s ease-in-out;
     }
     
     .submit-btn {
        display: inline-block;
        background-color: #000000;
        color: #ffffff;
        font-family: Raleway, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
     }
  .back-to-top{
    display: none;
    position: fixed;
    right: 5%;
    bottom: 5%;
    color: #AFB4CE;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
  }
  .back-to-top::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
  }
  
  
  .footer {
    background-color: #AFB4CE;
    text-align: center;
    color: #ffffff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    text-align: center;
  }
  
  .footer-list li {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
  }
     